@media (min-width: 640px) {
}

@media (min-width: 900px) {
  .desktop-header {
    display: flex;
  }

  .mobile-header {
    display: none;
  }

  .header-dropdown {
    display: none;
  }

  .logo-bg {
    top: -55px;
    right: -300px;
    width: 1000px;
    height: 1070px;
    max-width: none;
    max-height: none;
    background-size: contain;
  }

  .logo-bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
