/* This wonderful thing has been borrowed from https://codepen.io/deepakkv/pen/WwmjKQ */
/* Pure CSS Animated Mouse Scroll Icon - Deepak K Vijayan */

.scroll-downs {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  width: 24px;
  height: 40px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;

  pointer-events: none;
}

.scroll-downs.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

.mousey {
  width: 2px;
  padding: 8px 10px;
  height: 25px;
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  box-sizing: content-box;
  opacity: 30%;
}

.scroller {
  width: 2px;
  height: 8px;
  border-radius: 25%;
  background-color: rgba(255, 255, 255, 0.75);
  animation: scroll 2.2s infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
